header{
  display: flex;
flex-direction: row-reverse; /* Invierte el orden */
flex-wrap: wrap; /* Ajusta el contenido al ancho de la pantalla */
align-items: center;  /* Alinea verticalmente */
justify-content: space-evenly;
gap: 20px;  /* Espacio entre elementos */
background-color: #b4afaf;
padding: 1em;
width: 100%;
}


body {
    font-family: "Sour Gummy", sans-serif;
  flex-wrap: wrap; /* Ajusta el contenido al ancho de la pantalla */
  margin: 2em;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

  width: 100vw;  /* Asegura que el body ocupe toda la pantalla */
  max-width: 100%; /* Evita que se desborde */
  overflow-x: hidden; /* Evita desplazamiento horizontal */
 
  max-width: 2000px;
  
}

.container {
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  max-width: 100%
}
nav {
  flex-wrap: wrap; /* Ajusta el contenido al ancho de la pantalla */
  background-color: #5e5cb8;
  width: 30%;
  padding: 1em;
  
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra verticalmente */

  min-width: 100px; /* Evita que se haga muy pequeño */
  max-width: 100%;

  /* Hace que el menú ocupe todo el ancho */
   /* Evita que se haga demasiado grande */
  margin: 0 auto;
}
.content {
  background-color: rgb(255, 255, 255);
  flex: 1;
  padding: 1em;
  box-sizing: border-box;

  width: 100%;
  max-width: 100%;
}

img {
  width: 100px;  
 
 
}



.perfil {
  order: 1;
  width: 120px;  /* Tamaño de la imagen */
  height: 120px; /* Mantiene el mismo ancho y alto */
  border-radius: 50%; /* Hace la imagen completamente circular */
  border: 4px solid #5e5cb8; /* Borde de color */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  object-fit: cover; /* Evita deformaciones dentro del círculo */
  transition: transform 0.3s ease-in-out; /* Suaviza la animación */
}

.perfil:hover {
  transform: scale(3.0); /* Expande la imagen al pasar el cursor */
}


.experiencia {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: blue; 
}
footer {
  display: flex;
  background-color: #b4afaf;
  color: white;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

/* Impresión */
@media print {
  body {
      margin: 0cm; /* Márgenes ajustados */
      padding: 0;
  }

  header, footer, .content, .container {
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid; /* Evita saltos de página dentro de los elementos */
  }

 
}
